@import "tailwindcss";

@theme {
  --color-primary: #F37A20;
  --font-sans: var(--font-dm-sans);
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .btn-active {
    @apply active:scale-95 transition-transform;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}